meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='description', content='James Kao | Full Stack Engineer')
meta(name='author', content='')
link(rel='icon' href='img/favicon.ico')
// Pure core CSS
link(href='css/pure-min.css' rel='stylesheet')
link(href='css/grids-responsive-min.css' rel='stylesheet')
// Custom styles for this template
link(href="css/blog.css" rel="stylesheet")
// React.js by Facebook. Simple, declarative, composable library
// for creating UIs that use data that changes over time
script(src='js/react.min.js')
script(src='js/JSXTransformer.js')
// Showdown library to convert Markdown to raw HTML
script(src='js/showdown.min.js')
