extends layout

block head
  include header

block content
  .container
    .body
      h1 James Kao
      p.lead Data Hacker | Full Stack Dev
  #content
  script(type='text/jsx' src='js/src/tutorial20.js')
