extends layout

block head
  include header

block content
  .container
    .starter-template
      h1 James Kao
      p.lead Data Hacker | Full Stack Dev
  #content
  script(type='text/jsx' src='js/src/tutorial14.js')
    
