extends layout

block head
  include header

block content
  .container
    .banner
      img(src='img/logo.png')
      // p.lead Data Hacker | Full Stack Dev
  #content
  script(type='text/jsx' src='js/src/tutorial20.js')
