extends layout

block head
  include header

block content
  .banner
    img(src='img/logo.png')
    // p.lead Data Hacker | Full Stack Dev
  #content
  script(type='text/jsx' src='js/src/tutorial20.js')
  #filterable-product-table
  script(type='text/jsx' src='js/src/filterableProductTable.js')
