.sidebar.pure-u-1.pure-u-md-1-4
  .header
    h1.brand-title James Kao
    h2.brand-tagline Full Stack Engineer
    nav.nav
      ul.nav-list
        // Put Social Media Links Here
        li.nav-item
          a.pure-button(href='https://fb.com/thebestkao') Facebook
        |                     
        li.nav-item
          a.pure-button(href='https://twitter.com/thebestkao') Twitter
        |                     
        li.nav-item
          a.pure-button(href='http://github.com/bestkao') GitHub
        |                     
        li.nav-item
          a.pure-button(href='http://linkedin.com/in/jameskao1') LinkedIn
        |                     
        li.nav-item
          a.pure-button(href='/resume.pdf') Resume
//- nav.navbar.navbar-inverse.navbar-fixed-top
//-   .container
//-     .navbar-header
//-       button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
//-         span.sr-only Toggle navigation
//-         span.icon-bar
//-         span.icon-bar
//-         span.icon-bar
//-       a.navbar-brand(href='#') James Kao
//-     #navbar.collapse.navbar-collapse
//-       ul.nav.navbar-nav
//-         li.active
//-           a(href='#') Home
//-         li
//-           a(href='#about') About
//-         li
//-           a(href='#what-i-do') What I Do
//-         li
//-           a(href='#background') Background
//-         li
//-           a(href='#projects') Projects
//-         li
//-           a(href='#contact') Let's Connnect
//-         li
//-           a(href='#testimonials') What Others Say
//-     // /.nav-collapse
