/* Fonts */
@import url("ProximaNova.css");
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Arvo);
@import url(http://fonts.googleapis.com/css?family=Raleway);

/* Core */
body {
	font-family: 'Proxima Nova Thin', sans-serif;
  padding-top: 50px;
	color: rgba(0,0,0,0.9);
	background-color: #fafbfc;
}

/* Navigation */
.navbar {
	font-family: 'Proxima Nova', sans-serif;
	height: 64px;
	background-color: #fafbfc;
}
.navbar .container {
	padding: 8px 0px 0px 0px;
}
.navbar .navbar-brand, .navbar .navbar-brand:hover {
	font-family: 'Poiret One', cursive;
	color: rgba(0,0,0,0.9);
}
.navbar-inverse .navbar-nav > .active > a {
	color: rgba(0,0,0,0.9);
	background-color: #fafbfc;
}
.navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
	color: #fafbfc;
	background-color: rgba(0,0,0,0.9);
}
.navbar-inverse .navbar-nav > li > a {
	color: rgba(0,0,0,0.5);
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
	color: #fafbfc;
	background-color: rgba(0,0,0,0.9);
}

/* Body */
.body {
	font-family: 'Arvo', serif;
  padding: 40px 15px;
  text-align: center;
}

.lead {
	font-family: 'Raleway', sans-serif;
}
