@import url("ProximaNova.css");

body {
	font-family: 'Proxima Nova Thin', 'Helvetica Neue', Arial, sans-serif;
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
